yolov5/wandb/
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
*.zip
__pycache__
datasets/
# /yolov5/runs/
/yolov5/runs/
yolov5/my-awesome-project/
yolov5/wandb